/* styles.css */

/* Basic Reset */

/* Body Styling */
html,
body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
}

header {
  background-color: #f5f5f5;
  padding: 20px;
  height: 100%;
  width: 100%;
}
.hello {
  display: flex;
}
.flex-container {
  display: flex;
}
.flex-container > div {
  background-color: #f1f1f1;
  margin: 30px;
  padding: 20px;
  font-size: 30px;
}
/* Center Container Styling */
.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.d {
  width: 30px;
  height: 50px;
}
/* Button Styling */
#contactUsButton {
  background-color: #ff3147;

  position: relative;
  margin-top: 5%;
  display: flex;
  margin-left: 15px;
}
#contactUsButton:hover {
  background-color: #ec7e86;
}
#aaa {
  text-align: left;
  font-size: 27px;
  margin-top: 15%;
  margin-left: 20px;
  color: red;
}
#bbb {
  text-align: left;
  font-size: 40px;
  margin-left: 1px;

  padding: 3%;
  font-weight: bolder;
}
#ccc {
  text-align: left;
  margin-bottom: 2px;

  padding: 5%;
}
#heroImg {
  position: relative;
  margin-top: 10%;
}
/* Modal Styling */
.contactFormModal {
  height: 50%;
  width: 50%;
}
.modal-content {
  border-radius: 10px;
}

.modal-header {
  color: rgb(6, 3, 3);
  border-bottom: none;
  border-radius: 10px 10px 0 0;
}

.modal-body {
  padding: 30px;
}

.modal-footer {
  border-top: none;
  padding: 20px;
}

/* Form Styling */
#contactForm .form-control {
  border-radius: 5px;
  margin-bottom: 15px;
}

#contactForm button {
  background-color: #ff3147;
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  color: #fff;
}

#contactForm button:hover {
  background-color: #ec7e86;
}

/* Additional Styling */

#whatWeDoCarousel {
  width: 100%;
}
#What {
  position: relative;
  top: 10px;
  bottom: 60px;
  padding: 50px 50px;
}
.hover-overlay {
  position: relative;
  width: 100%;
  height: 50%;
}

.hover-overlay img {
  position: relative;
  width: 50%;
  height: 50%;
}

.hover-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #ff3147;
  /*background: rgba(0, 0, 0, 0.6);*/
  color: #fff;
  text-align: center;
}

.hover-overlay:hover .hover-content {
  display: block;
}
#rr {
  position: relative;
  margin-top: 40%;
  font-size: 30px;
}
#vv {
  font-size: 15px;
  padding-top: 5px;
}
.hover-overlay:hover img {
  display: none;
}
#WhyBest {
  background-color: #f5f5f5;
  padding: 20px;
  height: 100%;
  width: 100%;
}
#xyz {
  position: relative;
  margin-left: 40%;
  color: #ff3147;
  font-size: 30px;
}
#abc {
  position: relative;
  margin-left: 35%;
  font-weight: bolder;
  font-size: 40px;
}
#abd {
  position: relative;
  margin-left: 31%;
  font-weight: bolder;
  font-size: 40px;
  padding: 10px;
}
#projectImage {
  width: 60%;
  height: auto;
  transition: opacity 0.3s ease;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #ff3147;
}

#growth {
  background-color: #672c2c1f;
  padding: 20px;
  height: 80%;
  width: 100%;
}
#growth-conatiner {
  position: relative;
  margin-top: 6%;
}
.card-img-top {
  position: relative;
  margin-left: 40%;
  margin-top: 10%;
  height: 20%;
  width: 15%;
}
.highlight-card {
  transition: transform 0.3s, box-shadow 0.3s;
}

.highlight-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

#last {
  background-color: white;
  padding: 20px;
  height: 50%;
  width: 100%;
}
#a1 {
  text-align: left;
  margin-left: 30%;
  padding-top: 20px;
}
#a2 {
  padding-top: 20px;
  color: #ff3147;
}
#a3 {
  color: #808080;
}
#xx {
  font-weight: bold;
}
